.item_list{
height:300px;
align:center;
}
.item_row{

}

.itemcontainer
{
vertical-align:top;
padding-top:30px;
}


.picpart{
width:200px;
height:45%;
}
.infopart{
margin-top:10%;
margin-left:5%;
width:200px;
height:45%;
}


.midsize{
font-size:17px;
color:black;
line-height:1.255;
font-family:Arial,sans-serif;
}

.midsize{
text-decoration:none;
}

.smallsize{
font-size:12px;
}
.letterspace{
display:inline-block;
width:.385em;
}

.date_color{
color:#555;
}
.sale_price{
font-size:13px;
inline-height:19px;
color:#b12704;
font-weight:700;
}
.original_price{
inline-height:1.25;
text-decoration:line-through;
color:#555;
font-size:12px;
}